# Configuración de la base de datos H2
DB_NAME=ucacue

# Configuración de Hibernate ORM
QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION=update
QUARKUS_HIBERNATE_ORM_LOG_SQL=true
QUARKUS_HIBERNATE_ORM_SQL_LOAD_SCRIPT=import.sql

# Configuración de logging
QUARKUS_LOG_LEVEL=INFO

# Configuración de la aplicación
QUARKUS_HTTP_PORT=8080
QUARKUS_HTTP_HOST=0.0.0.0
